# Virtual Environment
venv/
.venv/
env/
ENV/

# Python byte-code / caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environment variables (Sensitive data!)
.env
.env.local

# IDE configurations
.vscode/
.idea/